# macOS
.DS_Store

# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.build/
/Packages
.swiftpm/
.netrc

# CocoaPods / Carthage
Pods/
Carthage/Build/

# IDE
.vscode/
.idea/

# Build artifacts
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
